name: Permissions Attribute Demo

run-name: "Permissions Attribute Demo by@${{ github.actor }} No${{ github.run_number }}"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - name: Checkout
        uses: actions/checkout@v4
